body {
  background-color: whitesmoke;
}

.card {
  border-radius: 1rem;
}

.login-form input {
  width: 100%; /* Full-width inputs */
  margin-bottom: 1rem;
}

/* Task list styles */
.task-list {
  padding-left: 0 !important;
  margin: 0 !important;
}

.task-list li {
  list-style-type: none;
  background-color: #0d65b2;
  padding: 10px;
  border-radius: 0.4rem;
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.task-list li:nth-child(even) {
  background-color: #578ac0;
}

.task-list i {
  color: white;
  cursor: pointer;
}

.task-list i:hover {
  color: #b3aa34;
}
